* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --light-gray-bg: rgb(230, 230, 230);
    --black-bg: rgb(0, 0, 0);
    --green-bg: rgb(65, 157, 39);
  
    --white-color: rgb(255, 255, 255);
    --dark-gray-color: rgb(88, 88, 88);
    --error-color: rgb(201, 36, 36);
    --operation-orange-color: rgb(255, 170, 24);
  }
  
  body {
    background: var(--black-bg);
    color: var(--white-color);
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    display: flex;
  }
  