* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  font: 1em sans-serif;
}

.shipping-calculator {
  display: flex;
  gap: 5px;
}

.cost-input {
  padding-left: 0.5rem;
  padding: 10px;
}

.btn-calculate {
  background-color: green;
  font-size: large;
  cursor: pointer;
  color: white;
  border: 0;
}

.error {
  color: rgb(191, 4, 4);
  font-weight: 600;
}
